{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
                <h1>Clientes</h1>

                <i class="fas fa-search icone-pesquisa" id="icone-pesquisa" ></i><input type="text" id="pesquisa-cliente" onkeyup="pesquisaFunction()" placeholder="Pesquise por nomes..." title="Digite um nome">
                
                <div class="table-responsive table-hover">
                    <table class="table table-cliente" id="table-cliente">
                        <tr>
                            <th>Nome</th> 
                            <th>Nome do Contato</th>
                            <th>Núm. 1 do Contato</th>
                            <th>Núm. 2 do Contato</th>
                            <th>E-mail do Contato</th>
                        </tr>
                        
                        {% for cliente in clientes %}
                            <tr onclick="location.href = '/cliente/{{ cliente.slug }}';">
                                <td>{{ cliente.nome }}</td> 
                                <td>{{ cliente.nome_contato}}</td>
                                <td>{{ cliente.telefone1}}</td>
                                <td>{{ cliente.telefone2}}</td>
                                <td>{{ cliente.e_mail }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <button type="button" class="btn btn-secondary" onclick="location.href='/cadastro_cliente'">Cadastrar novo cliente</button>
    <script>

    function pesquisaFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("pesquisa-cliente");
        filter = input.value.toUpperCase();
        table = document.getElementById("table-cliente");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }       
        }
    }
    </script>
{% endblock %}