{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CRM 3D Time - Cadastro de Clientes</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/personalizados.css' %">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <img src="logo.svg" width="60%">
                    </a>
                </li>
                <li>
                    <a href="index.html">Dashboard</a>
                </li>
                <li>
                    <a href="orcamentos.html">Orçamentos</a>
                </li>
                <li>
                    <a href="projetos.html">Projetos</a>
                </li>
                <li>
                    <a href="clientes.html">Clientes</a>
                </li>
                <li>
                    <a href="fornecedores.html">Fornecedores</a>
                </li>
                <li>
                    <a href="estoque.html">Estoque</a>
                </li>
                <li>
                    <a href="financeiro.html">Financeiro</a>
                </li>
                <li>
                    <a href="usuario.html">Usuários</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Orçamentos</h1>
                <label for="busca_orcamentos"><b>Busca Orçamentos</b></label>
				<input type="text" id="nome_orcamento" required />
                <div class="table-responsive table-hover">
                    <table class="table">
                        <tr>
                            <th>ID</th> 
                            <th>Data</th>
                            <th>Nome do Cliente</th>
                            <th>Detalhes</th>
                            <th>Custo Total</th>
                            <th>Preço Total</th>
                        </tr>
                        <tr>
                            <td><a href="detalhes_orcamentos.html">001</a></td> 
                            <td>07/05/2017</td>
                            <th>Fix It</th>
                            <td>TESTE</td>
                            <th>R$00,00</th>
                            <th>R$00,00</th>
                        </tr>
                </table>
                <button><a href="cadastro_orcamento.html">Cadastrar</a></button>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        console.log(e)
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
